# Byte-compiled / cache
__pycache__/
*.py[cod]
*.ipynb_checkpoints

# these will be tracked in dvc
data/
#models/
#dvc meta data needs to be tracked
.dvc/
!.dvc
!data/.gitkeep
!models/.gitkeep

# Environments
.env
.venv

# Others
*.log

